:root {
  --main-bg-color: rgb(33, 33, 33);
  --main-red-color: firebrick
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
  background-color: var(--main-bg-color);
  color: whitesmoke
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 3.5em;
  font-weight: bold;
  color: rgb(179, 179, 179);
}

.song_card {
  flex: 0 0 20%;
  background-color: var(--main-red-color);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: .5em;
  padding: .5em;
  margin: .5em;
  text-align: center;
  opacity: .6;
}

.song_card h2 {
  margin-top: .5em;
}

.song_card:hover {
  opacity: 1;
  box-shadow: 0 5px 10px black;
}

.song_card:hover h2 {
  text-shadow: 0 3px 5px black;
}

button {
  font-weight: bold;
  padding: .5em .8em;
  margin: 0 .5em;
  background-color: rgb(108, 11, 30);
  color: rgb(175, 175, 175);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
}

button:hover {
  color: whitesmoke;
  background-color: darkgreen;
  border: 2px solid var(--main-bg-color);
}

#song_form {
  background-color: var(--main-red-color);
  padding: .8em .2em;
  display: flex;
  justify-content: space-around;
}

#song_form input {
  border: none;
  border-radius: 5px;
  background-color: var(--main-bg-color);
  color: whitesmoke;
  padding: .2em .5em;
  font-size: .9rem;
}

input:focus {
  outline-color: yellow;
}

fieldset {
  border: none;
  padding: 0;
}